[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.2"
pillow = "*"
django-countries = "*"
django-seed = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
